[Desktop Entry]
#Exec=/home/pi/prog/capcamsock/startserver.sh
Exec=/home/pi/prog/capcamsockserver/startserver.sh
Type=Application
Name=StartCapcamsockServer
Terminal=false